@model IEnumerable<eConnect.Model.DownloadTransactionCommissionModel>
@{ Layout = null; }

<style type="text/css">
    .ajax-loader {
        visibility: hidden;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: +100 !important;
        width: 100%;
        height: 100%;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }
</style>
@*<div class="card">*@
<div class="card-body">
    <div class="table-responsive">
        <div class="table-actions">
            @*<a href="#" data-toggle="tooltip" title="Download Excel"><i class="mdi mdi-file-excel mdi-24px"></i></a>*@
        </div>
        @*<table class="table table-striped" id="table-2">*@
    @*<table id="example" class="display nowrap" style="width:100%">*@
        <table id="example" class="table table-striped">
            <thead>
                <h6 class="text-primary mb-3">@Model.FirstOrDefault().Message </h6>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CSPCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionType)
                    </th>
                    <th>
                        @Html.DisplayName("Num Txns/ Avg Balance")
                    </th>
                    <th>
                        @Html.DisplayName("Commission")
                    </th>
                    <th>
                        Including TDS 3.75%
                    </th>
                    <th>
                        @Html.DisplayName("Commission Percentage to CSP")
                    </th>
                    <th>@Html.DisplayName("Total")</th>

                </tr>
            </thead>
            <tbody style="overflow: hidden;">
                @if (Model.FirstOrDefault().TotalCommission > 0)
                {
                    int count = 1;
                    decimal TotalCommission = 0;
                    double TotalTDS = 0; double TotalTDSPercentage = 0;
                    double TotalPayable = 0;
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.CSPCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactionType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfTransaction)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Commission)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CommissionIncludingTDS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Commissionpercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCommission)
                            </td>
                        </tr>
                        TotalCommission = @TotalCommission + Convert.ToDecimal(@item.TotalCommission);
                        TotalTDS = @TotalTDS + Convert.ToDouble(@item.CommissionIncludingTDS);
                    }
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @TotalCommission.ToString("0.00"))

                        </td>
                    </tr>
                    <tr>
                        @*<td colspan="4"></td>*@
                        <td colspan="3" style="text-align:right;">Total Details</td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td colspan="4" style="text-align:center">
                            <table style="text-align:left;border:solid;">
                                <tr><td>Total (Rs)</td><td> @TotalTDS.ToString("0.00")</td></tr>
                                <tr>
                                    <td style="text-align:right">TDS(-) - 3.75%</td>
                                    <td>
                                        @{ double tds = 0.0375;
                                            TotalTDSPercentage = (@TotalTDS * tds);
                                            @TotalTDSPercentage.ToString("0.00")
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>NET Payable</td>
                                    <td>
                                        @{
                                            TotalPayable = (@TotalTDS - @TotalTDSPercentage);
                                        }
                                        @TotalPayable.ToString("0.00")
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="7" style="text-align:center;"> No Record Found !!!!</td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                        <td style="display: none"></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                    <th style="display: none"></th>
                </tr>
            </tfoot>
        </table>
</div>
</div>
<div class="ajax-loader">
    <img src="~/Content/Image/ajax-loader.gif" class="img-responsive" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "pageLength": 30,
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ]
        });
    });
</script>