@model IEnumerable<eConnect.Model.CommissionReportMonthlyModel>
@{ Layout = null;
    
    }

<style type="text/css">
    .ajax-loader {
        visibility: hidden;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: +100 !important;
        width: 100%;
        height: 100%;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }
</style>
@*<div class="card">*@
<div class="card-body">
    <div class="table-responsive">
        <div class="table-actions">
            @*<a href="#" data-toggle="tooltip" title="Download Excel"><i class="mdi mdi-file-excel mdi-24px"></i></a>*@
        </div>
        <table class="table table-striped" id="table-2">
            <thead>
                <h6 class="text-primary mb-3">@Model.FirstOrDefault().Message </h6>
                <tr>
                    <th colspan="3" style="height:25px;"></th>
                    <th colspan="4" style="text-align:center;border-bottom-style:solid;height:25px;">
                        Commission
                    </th>
                    <th colspan="4" style="height:25px;"></th>
                </tr>
                <tr>
                    <th style="height:45px;">
                        SNo
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.CSPCode)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.CSPName)
                    </th>
                    <th style="height:30px;">
                        @Html.DisplayNameFor(model => model.CSPCategory)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.Transation)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.Incentive)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.Rural)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.TDS)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.PayableToCSP)
                    </th>
                    <th style="height:45px;">
                        @Html.DisplayNameFor(model => model.NetPayable)
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model.FirstOrDefault().MonthlyCommissionReportID > 0)
                {
                    int count = 1;

                    decimal TotalTransaction = 0;
                    decimal TotalIncentive = 0;

                    decimal TotalRural = 0;
                    decimal TotalTotal = 0;
                    decimal TotalPayableToCSP = 0;
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSPCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSPName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSPCategory)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Transation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Incentive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rural)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TDS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayableToCSP)
                                </td>
                                <td>
                                    @item.NetPayable
                                </td>
                            </tr>
                            TotalTransaction = @TotalTransaction + Convert.ToDecimal(@item.Transation);
                            TotalIncentive = @TotalIncentive + Convert.ToDecimal(@item.Incentive);
                            TotalRural = @TotalRural + Convert.ToDecimal(@item.Rural);
                            TotalTotal = @TotalTotal + Convert.ToDecimal(@item.Total);
                            TotalPayableToCSP = TotalPayableToCSP + Convert.ToDecimal(@item.PayableToCSP);
                            //TotalTransaction = @TotalTransaction + (@item.Transation);
                            //TotalIncentive = @TotalIncentive + Convert.ToDouble(@item.Incentive);
                            //TotalRural = @TotalRural + Convert.ToDouble(@item.Rural);
                            //TotalTotal = @TotalTotal + Convert.ToDouble(@item.Total);
                            //TotalPayableToCSP = TotalPayableToCSP + Convert.ToDouble(@item.PayableToCSP);
                            count++;

                        }

                        <tr>
                            <td colspan="4">Total</td>
                            <td>
                                @TotalTransaction
                            </td>
                            <td>@TotalIncentive</td>
                            <td>@TotalRural</td>
                            <td>@TotalTotal</td>
                            <td>
                            </td>
                            <td>@TotalPayableToCSP</td>


                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="8" style="text-align:center;"> No Record Found !!!!</td></tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div class="ajax-loader">
    <img src="~/Content/Image/ajax-loader.gif" class="img-responsive" />
</div>

