@{
    ViewBag.Title = "Commission Report";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

@using (Html.BeginForm("DownloadCommissionReport", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
        .ajax-loader {
            visibility: hidden;
            background-color: rgba(255,255,255,0.7);
            position: absolute;
            z-index: +100 !important;
            width: 100%;
            height: 100%;
        }

            .ajax-loader img {
                position: relative;
                top: 50%;
                left: 50%;
            }
    </style>
    @Html.AntiForgeryToken()
    <section class="section">
        <div class="card">
            <div class="card-body">
                @*<h6 class="text-primary mb-3"> Download Transaction Report </h6>*@
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label(" Year")
                            @Html.DropDownList("Year", new SelectList(ViewBag.Years, "Text", "Text"), new { id = "Year", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Month")
                            @*@Html.DropDownList("Month", new SelectList(ViewBag.Months, "Value", "Text"), new { id = "Month", @class = "form-control" })*@
                            <select id="Month" name="Month" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("CSP Code", new { @class = "required-field" })
                            <div class="input-group ">
                                <input type="text" id="CSPCode" name="CSPCode" class="form-control" required=required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-4 text-left">
                            <button class="btn btn-primary px-4" type="button" onclick="LoadData()">Search</button>
                        </div>
                    </div>
                    <div class="col-md-4" style="display:none;">
                        <div class="form-group">
                            @Html.Label("Area", new { @class = "required-field" })
                            <div class="input-group ">
                                @Html.DropDownList("AreaID", new SelectList(ViewBag.AreaID, "Value", "Text"), new { id = "AreaID", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="display:none;">
                        <div class="form-group">
                            @Html.Label("Cycle")
                            <div class="input-group ">
                                @Html.DropDownList("CycleID", new SelectList(ViewBag.CycleID, "CycleID", "CycleName"), new { id = "CycleID", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <div class="ajax-loader">
            <img src="~/Content/Image/ajax-loader.gif" class="img-responsive" />
        </div>
        <div id="RequestDetailsList">
        </div>


    </section>
}
<div>
    @Html.ActionLink("Cancel", "DownloadCommissionReport")

</div>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
                $(function () {
                    alert("@TempData["Message"]")
                });
    </script>
}
<script type="text/javascript">
    function LoadData() {
        $('#RequestDetailsList').html('');
        var Selyear = document.getElementById("Year");
        var year = Selyear.options[Selyear.selectedIndex].value;
        var Selmonth = document.getElementById("Month");
        var month = Selmonth.options[Selmonth.selectedIndex].value;
        var SelStatus = document.getElementById("Status");

        var Selcycle = document.getElementById("CycleID");
        var cycle = Selcycle.options[Selcycle.selectedIndex].value;


        var SelArea = document.getElementById("AreaID");
        var Areadid = SelArea.options[SelArea.selectedIndex].value;
        var Status = "1";//SelStatus.options[SelStatus.selectedIndex].value;
        var CSPCode = $('#CSPCode').val();
       
        if (CSPCode.length === 0) {
            alert("Please Enter CSP Code.");
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DownloadCommissionReport","Reports")',
                data: { year: year, month: month, cspcode: CSPCode, status: Status, cycleid: cycle, areaid: Areadid },
                dataType: 'html',
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                },
                success: function (data) {
                    $('#RequestDetailsList').html(data);
                }
            });
        }
    }

    function BindDefaultMonths() {
        var d = new Date();
        var n = d.getFullYear();
        $.get("BindMonths", { year: n }, function (data) {
            var v;// "<option value=''>MM</option>";
            $.each(data, function (i, v1) {
                v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
            });
            $("#Month").html(v);

        });
    }
    $(document).ready(function () {
        BindDefaultMonths();

    $("#Year").change(function () {
        $("#Month").empty();
        var Yearid = $(this).val();
        if (Yearid > 0) {
            $.get("BindMonths", { year: Yearid }, function (data) {
                var v;// = "<option value=''>MM</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                sortorder: 'desc',
                $("#Month").html(v);

            });
        }

    });
    });
</script>
