
@{
    ViewBag.Title = "DownloadCommissionReportMonthly";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@using (Html.BeginForm("DownloadCSPCommissionReportMonthly", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css">
        .ajax-loader {
            visibility: hidden;
            background-color: rgba(255,255,255,0.7);
            position: absolute;
            z-index: +100 !important;
            width: 100%;
            height: 100%;
        }

            .ajax-loader img {
                position: relative;
                top: 50%;
                left: 50%;
            }
    </style>
    @Html.AntiForgeryToken()
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h6 class="text-primary mb-3"> Download Report </h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label(" Year")
                            @Html.DropDownList("Year", new SelectList(ViewBag.Years, "Text", "Text"), new { id = "Year", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Month")
                            @Html.DropDownList("Month", new SelectList(ViewBag.Months, "Value", "Text"), new { id = "Month", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="my-4 text-right">
                    <button class="btn btn-primary px-4" type="button" onclick="LoadData()">Search</button>
                </div>
            </div>
        </div>
        <div id="MonthlyReport" class="card">
        </div>
        <div class="ajax-loader">
            <img src="~/Content/Image/ajax-loader.gif" class="img-responsive" />
        </div>
    </section>
}
<div>
    @Html.ActionLink("Cancel", "DownloadCSPCommissionReportMonthly")

</div>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
                $(function () {
                    alert("@TempData["Message"]")
                });
    </script>
}
<script type="text/javascript">
    function LoadData() {
        $('#MonthlyReport').html('');
        var Selyear = document.getElementById("Year");
        var year = Selyear.options[Selyear.selectedIndex].value;
        var Selmonth = document.getElementById("Month");
        var month = Selmonth.options[Selmonth.selectedIndex].value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("DownloadCSPCommissionReportMonthly", "Reports")',
            data: { year: year, month: month },
             dataType: 'html',
             beforeSend: function () {
                 $('.ajax-loader').css("visibility", "visible");
             },
             complete: function () {
                 $('.ajax-loader').css("visibility", "hidden");
             },
                success: function (data) {
                    $('#MonthlyReport').html(data);
                }
            });
    }
</script>

