@model eConnect.DataAccess.tblUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPasswordReset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPasswordReset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblRoleMaster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRoleMaster.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblStatu.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStatu.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser2.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser2.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsers12.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsers12.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser3.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser3.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
