@model eConnect.DataAccess.tblUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPasswordReset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPasswordReset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblRoleMaster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRoleMaster.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblStatu.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStatu.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser2.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser2.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsers12.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsers12.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUser3.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUser3.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
