@model IEnumerable<eConnect.DataAccess.tblUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPasswordReset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblRoleMaster.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblStatu.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser1.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser2.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUsers12.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser3.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSourceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPasswordReset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblRoleMaster.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblStatu.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser1.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser2.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUsers12.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser3.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
