@model eConnect.DataAccess.tblAnnouncement

@{
    ViewBag.Title = "Announcement Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AnnouncementId)
    @Html.HiddenFor(model => model.Status)
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "required-field" })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Message, 10, 60, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "required-field" })

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Detail, 10, 60, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "required-field" })
                                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                </div>
                <div class="my-4 text-right">
                    <button class="btn btn-primary px-4" type="submit">Save</button> |
                    @Html.ActionLink("Cancel", "Index")
                </div>
            </div>

        </div>

    </section>
}
<div>

</div>

