@model eConnect.Model.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "pl-lg-4 pr-lg-4" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter UserName" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        @* <a href="#" class="text-dark float-right mt-2 mb-3"><small> Forgot Password?</small></a>*@
    </div>
  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block py-2">Login</button>
    </div>
    @*<p class="text-center"><span class="text-muted">New User?</span> <a href="#">Sign Up</a></p>*@

}



