@model IEnumerable<eConnect.DataAccess.tblGalleryCategory>

@{
    ViewBag.Title = "Gallery Manage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<p>
  
    @Html.ActionLink("Create New", "Create", "Menu", new { @class = "btn btn-primary px-4" })
</p>
<section class="section">

    <div class="card">

        <div class="card-body">

            <div class="table-responsive">
                <div class="table-actions">
                </div>
                <table class="table table-striped" id="table-2">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryTittle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryImagesPath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Priority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>

                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryTittle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryImagesPath)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })|
                                    @Html.ActionLink("UploadImage", "UploadImage", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
