@model eConnect.Model.GalleryCategoryModel

@{
    ViewBag.Title = "Gallery Manage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@using (Html.BeginForm("UploadImage", "GalleryDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CategoryImagesPath)

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">

        debugger;
        function showonlyJpg(input) {

            ALERT("Check");
            if (input.files[0] != null) {
                var validExtensions = ['jpg', 'JPG', 'JPEG', 'jpeg']; //array of valid extensions
                var fileName = input.files[0].name;
                var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1).toLowerCase();
                if ($.inArray(fileNameExt, validExtensions) == -1) {
                    input.type = ''
                    input.type = 'file'
                    $('#user_img').attr('src', "");
                    alert("Only 'jpg','JPG','JPEG','jpeg' file types are accepted " + validExtensions.join(', '));
                }
                else {
                    if (input.files[0].size > 2097152) // 2 MiB for bytes.
                    {
                        alert("File size must under 2MB!");
                        return;
                    }
                    else {
                        if (input.files && input.files[0]) {
                            var filerdr = new FileReader();
                            filerdr.onload = function (e) {
                                $('#user_img').attr('src', e.target.result);
                            }
                            filerdr.readAsDataURL(input.files[0]);
                        }
                    }
                }
            }
        }




    </script>
    <section class="section">
        <div class="card">
            <div class="card-body">

                <div class="row">

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.CategoryTittle, htmlAttributes: new { @class = "required-field" })
                        @Html.EditorFor(model => model.CategoryTittle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.CategoryTittle, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "required-field" })
                        @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "required-field" })
                                @Html.DropDownList("Status", ViewBag.Status as SelectList, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryImage, htmlAttributes: new { @class = "" })<span class="text-danger">Only.jpg/jpeg accepted,other extension files will not be visible in Gallery. </span>
                            <input type="file" multiple="multiple" id="CategoryImage" name="CategoryImage" accept=".jpeg,.JPEG,.jpg,.JPG" class="btn btn-outline-primary btn-block fileup-btn" onchange="showonlyJpg(this)" />

                            @Html.ValidationMessageFor(model => model.CategoryImage, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="my-4 text-right">
                        <button class="btn btn-primary px-4" type="submit">Save</button> |
                        @Html.ActionLink("Cancel", "Index", "Menu", new { @class = "btn btn-dark px-4 mr-2" })

                    </div>
                </div>
            </div>
        </div>
    </section>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
