

@model IEnumerable<eConnect.DataAccess.sp_GetManageTechSupportRequestDetails_Result>

@{ ViewBag.Title = "Manage Support";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}


<link href="~/Content/HTML/css/bootstrap.min.css" rel="stylesheet" />
@*  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style type="text/css">
    .ajax-loader {
        visibility: hidden;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: +100 !important;
        width: 100%;
        height: 100%;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }
</style>

<section class="section">


    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    @using (@Html.BeginForm("IndexSearch", "ManageTechnicalSupportRequest", FormMethod.Get))
    {@Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4><span class="toggle-collapse" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter"></span> Filter</h4>
        </div>
         <div class="card-body collapse" id="filter">
            <div class="row">
                @*<div class="col-md-3">
            <div class="form-group">
                <label>Request Id</label>
                <input type="text" id="Requestid" name="Requestid" class="form-control" value="@Request["Requestid"]">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>CSP Name</label>
                <input type="text" id="CspName" name="CspName" class="form-control" value="@Request["CspName"]">
            </div>
        </div>*@
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CSP ID</label>
                        <input type="text" id="CspID" name="CspID" class="form-control" value="@Request["CspID"]">
                    </div>
                </div>
                @*<div class="col-md-3">
            <div class="form-group">
                <label>State</label>
                @Html.DropDownList("State", null, "Select State", htmlAttributes: new { @class = "form-control", @onchange = "return bindCity();" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>City</label>
                @Html.DropDownList("City", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>BranchCode</label>
                @Html.DropDownList("BranchCode", null, "Select BranchCode", htmlAttributes: new { @class = "form-control" })

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownList("Category", null, "Select Category", htmlAttributes: new { @class = "form-control" })

            </div>
        </div>*@
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Problem Type</label>
                        @Html.DropDownList("TechProblemType", new SelectList(ViewBag.ProblemList, "ProblemTypeId", "Name"), "Select Problem", new { id = "TechProblemType", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Requested Date</label>
                        <input type="date" id="Requesteddte" name="Requesteddte" class="form-control" value="@Request["Requesteddte"]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Completion Date</label>
                        <input type="date" id="Completiondte" name="Completiondte" class="form-control" value="@Request["Completiondte"]">

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Show Record</label>
                        <input type="number" id="Depositdte" name="Record" class="form-control" value="@ViewBag.Record">

                    </div>
                </div>

                <div class="col-md-3 mt-md-4 pt-1">
                    @*<button class="btn btn-dark px-4 mr-2">Cancel</button>*@
                    <button type="submit" class="btn btn-primary px-4">Search</button>
                </div>

            </div>
        </div>
    </div>}
    @*<div style="margin-left:4px">
        <span class="label info">Open - @ViewBag.Opencount</span>
        <span class="label success">Closed - @ViewBag.Closecount</span>
        <span class="label warning">In-Progress - @ViewBag.InProgresscount</span>
        <span class="label danger">Rejected - @ViewBag.Rejectcount</span>
    </div>*@

    <div class="card">

        <div class="card-body">


            <div class="table-responsive">
                <div class="table-actions">
                   
                </div>
                 <table id="example" class="table table-striped">
                <thead>
                    <tr>
                       
                        <th>
                            ProblemType
                                             </th>
                        <th>
                            CSP
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MobileNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RequestedDate)
                        </th>
                      
                        <th> AnyDesk</th>
                        <th>ScreenShot</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                                                       @if (item.ProblemType.Equals(1))
                            {
                                <td>Technical</td>

                            }
                            else if (item.ProblemType.Equals(2))
                            {
                                <td>Support</td>
                            }
                            else if (item.ProblemType.Equals(3))
                            {
                                <td>Software Installation</td>
                            }
                            else if (item.ProblemType.Equals(4))
                            {
                                <td>Micro ATM</td>
                            }
                            else if (item.ProblemType.Equals(5))
                            {
                                <td>RD Service</td>
                            }
                            else if (item.ProblemType.Equals(6))
                            {
                                <td>Morpho Fingerprint Device</td>
                            }
                            else if (item.ProblemType.Equals(7))
                            {
                                <td>AEPS Service</td>
                            }
                            else if (item.ProblemType.Equals(8))
                            {
                                <td>Passbook Printe</td>
                            }
                            else if (item.ProblemType.Equals(9))
                            {
                                <td>User Locked</td>
                            }
                            else if (item.ProblemType.Equals(10))
                            {
                                <td>Transaction Password Locked</td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CSPCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo)
                            </td>
                           
                        <td>
                            @item.RequestedDate
                           

                        </td>
                            <td> @Html.DisplayFor(modelItem => item.AnyDeskDetail)</td>
                            <td>
                             
                                <a href="~/ImageViewer/Getimage/?Type=TechIndex+&File=+@item.Attachment" target="_blank">ViewScreenShot</a>
                            </td>

                            <!--<td>

                @*@Html.DisplayFor(modelItem => item.CompletionDate)*@
                <!--</td>-->
                            @if (item.Status.Equals(1))
                            {
                                <td>Open</td>

                            }
                            else if (item.Status.Equals(3))
                            {
                                <td>Close</td>
                            }
                            else if (item.Status.Equals(2))
                            {
                                <td>In-Progress</td>
                            }
                            else if (item.Status.Equals(7))
                            {
                                <td>Rejected</td>
                            }
                            @*<td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>*@
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TechRequestId })
                                |
                                @Html.ActionLink("View", "Details", new { id = item.TechRequestId })
                                @if (item.Status != 0)
                                {
                                    <a href="#" onclick="showStatus(@item.TechRequestId)">| Status</a>
                                    var did = "divstatus" + item.TechRequestId;
                                    var drpId = "drpStatus" + item.TechRequestId;
                                    <div style="display:none;" id=@did class="divstyle">

                                        @Html.DropDownList("Skills", new List<SelectListItem>
                                        {

                                         new SelectListItem{ Text = "Open", Value = "1"},
                                         new SelectListItem{ Text = "Close", Value = "3" },
                                         new SelectListItem{ Text = "In-Progress", Value = "2"  },
                                        }, new { id = drpId, @class = "dropdownlist" })
                                        <br />
                                        <button onclick="ClickSaveStatus(@item.TechRequestId)" style="vertical-align :middle;">Save</button>
                                        <button onclick="Cancel(@item.TechRequestId)" style="vertical-align: middle;">Cancel</button>
                                    </div>
                                }
                                @if (item.Status == 1 || item.Status == 2)
                                {
                                    <a href="#" onclick="showEdit(@item.TechRequestId)">| Reject</a>
                                    var did = "div" + item.TechRequestId;
                                    var textareaId = "text" + item.TechRequestId;
                                    <div style="display:none;" id=@did>
                                        <textarea id="@textareaId"></textarea>
                                        <br />
                                        <button onclick="ClickSave(@item.TechRequestId)" style="vertical-align :middle;">Save</button>
                                        <button onclick="ClickCancel(@item.TechRequestId)" style="vertical-align: middle;">Cancel</button>
                                    </div>
                                }

                            </td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8"></th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
    </div>


</section>
<style>
    .label {
        color: white;
        padding: 8px;
        font-family: Arial;
    }

    .success {
        background-color: #04AA6D;
    }
    /* Green */
    .info {
        background-color: #2196F3;
    }
    /* Blue */
    .warning {
        background-color: #ff9800;
    }
    /* Orange */
    .danger {
        background-color: #f44336;
    }
    /* Red */
    .other {
        background-color: #e7e7e7;
        color: black;
    }

    .dropdownlist {
        color: #fff;
        font-size: 10px;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #cc2a41;
        width: 102px;
        /*font-weight: bold;*/
    }

    .divstyle {
        border: 2px solid red;
        padding: 5px;
        border-radius: 5px;
        width: 115px;
    }
    /* Gray */
</style>
<script>

    $(document).ready(function () {
      $('#example').append('<caption style="caption-side: top;color:red;display:none;"><b>Technical Support Requests Details</b>'+'</caption>');
           $('#example').DataTable( {
		 "pageLength": 25,
            "ordering": true,
		 title: 'Technical Support Report',
                    filename: 'Technical Support Report',
        dom: 'Bfrtip',
		buttons: [
        {
           extend: 'excel',
           exportOptions: {
                columns: [0,1,2,3,4,6] 
            }
       }  ,
]	   
    } );

    });

    function ClickSave(id) {
        var txtclear = "text" + id;
        var textareaval = document.getElementById(txtclear).value;
        if (textareaval == '') {
            alert('Please enter rejection comment.')
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateRequestStatus","ManageDepositRequest")',
                data: { RequestId: id, status: '7', Comments: textareaval, RequestType: '3' },
                dataType: 'html',
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                },
                success: function (data) {
                    location.reload(true);
                    alert('Record Updated successfully');
                }

            });
    }
    }
     function ClickSaveStatus(id) {
         var txtclear = "text" + id;
         var drpId = "drpStatus" + id;
         var drpStatus = document.getElementById(drpId).value;

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateRequestStatus","ManageDepositRequest")',
                data: { RequestId: id, status: drpStatus, Comments: "", RequestType: '3' },
                dataType: 'html',
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                },
                success: function (data) {
                    location.reload(true);
                    alert('Record Updated successfully');
                }

            });

    }

    function showEdit(id) {
        $('#div' + id).show();
    }
    function ClickCancel(id) {
        var txtclear = "text" + id;
        document.getElementById(txtclear).value = "";
        $('#div' + id).hide();
        /*  $(document).ready(function () {*/
    }
    function showStatus(id) {
        $('#divstatus' + id).show();
    }

    function Cancel(id) {

        $('#divstatus' + id).hide();
        /*  $(document).ready(function () {*/
    }
    function bindCity() {
        var sid = $("#State").val();
        $("#City").empty();

        $.ajax({
            url: '@Url.Action("BindCity", "ManageWithdrawalRequest")',
            data: { state_id: sid },
            type: 'GET',
            success: function (data)
            {
                var v = "<option>---Select---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#City").html(v);
            }
        });
    }

    debugger;
    function PreviewImage(url) {
        var win = window.open();
        win.document.write("<iframe width='100%' height='100%' scrolling='no' src='" + url + "'></iframe>");
    }
    /*    });*/
</script>
