

@model IEnumerable<eConnect.DataAccess.sp_GetManageDepositRequestDetails_Result>

@{ ViewBag.Title = "Manage Deposit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml"; }
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style type="text/css">
    .ajax-loader {
        visibility: hidden;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: +100 !important;
        width: 100%;
        height: 100%;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }
</style>
<section class="section">


    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    @using (@Html.BeginForm("IndexSearch", "ManageDepositRequest", FormMethod.Get))
    {@Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4><span class="toggle-collapse" id="toggle" data-toggle="collapse" href="#filter" role="button" aria-expanded="true" aria-controls="filter"></span> Filter</h4>
        </div>
        <div class="card-body collapse show" id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Request Id</label>
                        <input type="text" id="Requestid" name="Requestid" class="form-control" value="@Request["Requestid"]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CSP Name</label>
                        <input type="text" id="CspName" name="CspName" class="form-control" value="@Request["CspName"]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CSP ID</label>
                        <input type="text" id="CspID" name="CspID" class="form-control" value="@Request["CspID"]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>State</label>
                        @Html.DropDownList("State", null, "Select State", htmlAttributes: new { @class = "form-control", @onchange = "return bindCity();" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>City</label>
                        @Html.DropDownList("City", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>BranchCode</label>
                        @Html.DropDownList("BranchCode", null, "Select BranchCode", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Category</label>
                        @Html.DropDownList("Category", null, "Select Category", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Status</label>
                        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Requested Date</label>
                        <input type="date" id="Requesteddte" name="Requesteddte" class="form-control" placeholder="MM/DD/YYYY" value="@Request["Requesteddte"]">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Completion Date</label>
                        <input type="date" id="Completiondte" name="Completiondte" class="form-control" value="@Request["Completiondte"]">

                    </div>
                </div>


                <div class="col-md-3 mt-md-4 pt-1">
                    @*<button class="btn btn-dark px-4 mr-2">Cancel</button>*@
                    <button type="submit" class="btn btn-primary px-4">Search</button>
                </div>

            </div>
        </div>
    </div>}
    <div style="margin-left:4px">
        <span class="label info">Open - @ViewBag.Opencount</span>
        <span class="label success">Closed - @ViewBag.Closecount</span>
        @*<span class="label warning">In-Progress - @ViewBag.InProgresscount</span>*@
        <span class="label danger">Rejected - @ViewBag.Rejectcount</span>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-actions">
                    @*<a href="#" data-toggle="tooltip" title="Download Excel"><i class="mdi mdi-file-excel mdi-24px"></i></a>*@
                </div>
              
                <table class="table table-striped" id="table-2">
                    <thead>
                        <tr>
                            
                            <th>
                                Name
                            </th>
                            <th>
                                CSPId
                             
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestedDate)
                            </th>
                            <th>Remarks</th>
                            <th>
                                Reciept
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>

                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.DepositeRequestId)
                                    </td>*@

                                @*@Html.DisplayFor(modelItem => item.RequestType)*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSPName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CSPCode)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @*@(item.RequestedDate?.ToString("MM/dd/yyyy"))*@
                                    @Html.Label(@item.RequestedDate.Value.ToString("dd MMM yyyy"))
                                    @*@Html.DisplayFor(modelItem => item.RequestedDate)*@
                                </td>
                                <td style="min-width:100px;word-break:break-word">@item.Comment</td>
                                <td><a href="@item.ReceiptSource" target="_blank">ViewReciept</a></td>
                                @if (item.Status.Equals(1))
                                {
                                    <td>Open</td>

                                }
                                else if (item.Status.Equals(3))
                                {
                                    <td>Close</td>
                                }
                                else if (item.Status.Equals(7))
                                {
                                    <td>Rejected</td>
                                } <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DepositeRequestId })
                                    |
                                    @Html.ActionLink("View", "Details", new { id = item.DepositeRequestId })
                                    @if (item.Status == 1)
                                    {
                                        <a href="#" onclick="showEdit(@item.DepositeRequestId)">| Reject</a>
                                        var did = "div" + item.DepositeRequestId;
                                        var textareaId = "text" + item.DepositeRequestId;
                                        <div style="display:none;" id=@did>
                                            <textarea id="@textareaId"></textarea>
                                            <button onclick="ClickSave(@item.DepositeRequestId)" style="vertical-align :middle;">Save</button>
                                            <button onclick="ClickCancel(@item.DepositeRequestId)" style="vertical-align: middle;">Cancel</button>
                                        </div>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {

    });

    function ClickSave(id) {
        var txtclear = "text" + id;
        var textareaval = document.getElementById(txtclear).value;
        if (textareaval == '') {
            alert('Please enter rejection comment.')
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateRequestStatus","ManageDepositRequest")',
                data: { RequestId: id, status: '7', Comments: textareaval, RequestType: '1' },
                dataType: 'html',
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                },
                success: function (data) {
                    location.reload(true);
                    alert('Record Updated successfully');
                }

            });
    }
    }


    function showEdit(id) {
        $('#div' + id).show();
    }
    function ClickCancel(id) {
        var txtclear = "text" + id;
        document.getElementById(txtclear).value = "";
        $('#div' + id).hide();
        /*  $(document).ready(function () {*/
    }

    function bindCity() {
        var sid = $("#State").val();
        $("#City").empty();
        $.ajax({
            url: '@Url.Action("BindCity", "ManageWithdrawalRequest")',
            data: { state_id: sid },
            type: 'GET',
            success: function (data)
            {
                var v = "<option>---Select---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#City").html(v);
            }
        });
    }
    /*    });*/
</script>
<style>
    .label {
        color: white;
        padding: 8px;
        font-family: Arial;
    }

    .success {
        background-color: #04AA6D;
    }
    /* Green */
    .info {
        background-color: #2196F3;
    }
    /* Blue */
    .warning {
        background-color: #ff9800;
    }
    /* Orange */
    .danger {
        background-color: #f44336;
    }
    /* Red */
    .other {
        background-color: #e7e7e7;
        color: black;
    }
    /* Gray */
</style>