
@{
    ViewBag.Title = "CSP Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (@Html.BeginForm("DashboardSearch", "CSP", FormMethod.Get))
{@Html.AntiForgeryToken()

@*<div class="card">
    <div class="card-header">
        <h4><span class="toggle-collapse" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter"></span> Filter</h4>
    </div>
    <div class="card-body collapse" id="filter">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" id="StartDate" name="StartDate" class="form-control" value="@Request["StartDate"]">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" id="EndDate" name="EndDate" class="form-control" value="@Request["EndDate"]">

                </div>
            </div>
            <div class="col-md-3 mt-md-4 pt-1">
                <button class="btn btn-dark px-4 mr-2">Cancel</button>
                <button type="submit" class="btn btn-primary px-4">Search</button>
            </div>

        </div>
    </div>
</div>*@
}
<section class="section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2 mb-3">
                <div class="card-icon bg-light-primary text-primary">
                    <i class="mdi mdi-cash-refund"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Withdrawal Request</h4>
                    </div>
                    <div class="card-body">
                        <div class=" mt-3">
                            <h6 class="mr-2">Open - <span>@ViewBag.WithdrawOpenCount</span> </h6>
                            @*   <h6> In-Progress - <span>@ViewBag.WithdrawInProgressCount</span></h6>   *@
            <h6> Closed - <span>@ViewBag.WithdrawCompletedCount</span></h6>
        </div>
        @*<p><a href="#" class="small">Download Detailed Statement</a></p>*@
                        </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2 mb-3">
                <div class="card-icon bg-light-danger text-danger">
                    <i class="mdi mdi-cash-multiple"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Deposit Request</h4>
                    </div>
                    <div class="card-body">
                        <div class=" mt-3">
                            <h6 class="mr-2">Open - <span>@ViewBag.DepositOpenCount</span> </h6>
                            @* <h6> In-Progress - <span>@ViewBag.DepositInProgressCount</span></h6>   *@
            <h6> Closed - <span>@ViewBag.DepositCompletedCount</span></h6>
        </div>
        @*<p><a href="#" class="small">Download Detailed Statement</a></p>*@
                        </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2 mb-3">
                <div class="card-icon bg-light-warning text-warning">
                    <i class="mdi mdi-headset"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Support Request</h4>
                    </div>
                    <div class="card-body">
                        <div class=" mt-3">
                            <h6 class="mr-2">Open - <span>@ViewBag.TechOpenCount</span> </h6>
                            <h6> In-Progress - <span>@ViewBag.TechInProgressCount</span></h6>
                            <h6> Closed - <span>@ViewBag.TechCompletedCount</span></h6>
                        </div>
                        @*<p><a href="#" class="small">Download Detailed Statement</a></p>*@
                    </div>
                </div>

            </div>
        </div>



    </div>





</section>
