@model IEnumerable<eConnect.DataAccess.tblUserCSPDetail>

@{
    ViewBag.Title = "Manage CSP";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <section class="section">

        <p>
            @Html.ActionLink("Create New", "Create")

        </p>
        @using (@Html.BeginForm("IndexSearch", "CSP", FormMethod.Get))
        {@Html.AntiForgeryToken()
  
        <div class="card">
            <div class="card-header">
                <h4><span class="toggle-collapse" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter"></span> Filter</h4>
            </div>
            <div class="card-body collapse" id="filter">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>CSP Code</label>
                            <input type="text" id="CSPCode" name="CSPCode" class="form-control" value="@Request["CSPCode"]">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="CSPName" name="CSPName" class="form-control" value="@Request["CSPName"]">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Branch Code</label>
                            <input type="text" id="BranchCode" name="BranchCode" class="form-control" value="@Request["BranchCode"]">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status</label>
                            @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, " ", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Certificate Status</label>
                            @Html.DropDownList("CertificateStatus", (IEnumerable<SelectListItem>)ViewBag.CertificateStatus, " ", new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-3 mt-md-4 pt-1">
                        @*<button class="btn btn-dark px-4 mr-2">Cancel</button>*@
                        <button type="submit" class="btn btn-primary px-4">Search</button>
                    </div>

                </div>
            </div>
        </div>
    }
        <div class="card">

            <div class="card-body">


                <div class="table-responsive">
                    <div class="table-actions">
                        @*<a href="#" data-toggle="tooltip" title="Download Excel"><i class="mdi mdi-file-excel mdi-24px"></i></a>*@
                    </div>
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CSPName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CSPCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BranchCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.Mobile)
                                </th>*@
                                @*<th>
                                    @Html.DisplayNameFor(model => model.ExpiryDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BankName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BankAccount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IFSC)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FatherName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MotherName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.PAN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VoterId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AadharNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Education)
                                </th>*@
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CSPName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CSPCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Mobile)
                                    </td>*@
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BankName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BankAccount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IFSC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FatherName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MotherName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VoterId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AadharNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Education)
                                    </td>*@
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.CSPId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.CSPId }) |
                                        @Html.ActionLink("View", "View", new { id = item.CSPId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.CSPId }) |
                                        @Html.ActionLink("Account", "ResetPassword", new { CSPCode = item.CSPCode })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </section>


