@model eConnect.Model.RoleMasterModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



@using (Html.BeginForm("CreateRole", "SAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="section">
        <div class="card">
            <div class="card-body">
                <h6 class="text-primary mb-3"> Create Role</h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "required-field" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    </div><div>
                        <div class="my-4 text-right">
                            <button class="btn btn-primary px-4" type="submit">Save</button>
                            @Html.ActionLink("Cancel", "CreateRole", "Menu", new { @class = "btn btn-dark px-4 mr-2" })
                        </div>
                    </div>
            </div>
        </div>
    </section>
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@TempData["Message"]")
            });
    </script>
}