@model eConnect.Model.RoleMasterModel
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm("EditRole", "SAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{



    <section class="section">
        <div class="card">
            <div class="card-body">
                <h6 class="text-primary mb-3"> Edit Role</h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "required-field" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="my-4 text-right">
                    <button class="btn btn-primary px-4" type="submit">Update</button>
                        @Html.ActionLink("Cancel", "RoleDetails", "Menu", new { @class = "btn btn-dark px-4 mr-2" })
                   
                    @Html.HiddenFor(model => model.RoleId)

                </div>
              
            </div>

        </div>
    </section>
}