@model IEnumerable<eConnect.Model.AccountConfigurationModel>

@{

    Layout = null;
}

<section class="section">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-actions">
                    @*<a href="#" data-toggle="tooltip" title="Download Excel"><i class="mdi mdi-file-excel mdi-24px"></i></a>*@
                </div>
                <table class="table table-striped" id="table-2">
                    <thead>
                        <tr>
                            <th>SNo</th>
                            <th>
                                @Html.DisplayNameFor(model => model.BusinessId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeactiveAccountDaysForInvalidPwd)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.LockAccountDaysForInvalidPwd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AutoUnlockAccountMinutes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PasswordAutoExpireInDays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsPasswordNeverExpired)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChangedPwdOnNextLogin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PasswordLength)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NotifiedToCSP)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>  @count</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeactiveAccountDaysForInvalidPwd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LockAccountDaysForInvalidPwd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AutoUnlockAccountMinutes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PasswordAutoExpireInDays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPasswordNeverExpired)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChangedPwdOnNextLogin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PasswordLength)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotifiedToCSP)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit | ", "EditAccountConfiguration", new { id = @item.ConfigurationId }, null)
                                    <a class="details" href="javascript:;" onclick="DeleteRecord(@item.ConfigurationId)">Delete</a>
                                    @Html.HiddenFor(odelItem => item.BusinessId)
                                    @Html.HiddenFor(odelItem => item.ConfigurationId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript">
    function DeleteRecord(accconfigId) {
        if (confirm('Are you sure to delete this record ?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAccountConfigRecord", "Admin")',
                data: { configid: accconfigId },
                dataType: 'html',
                success: function (data) {
                    location.reload();
                    alert("Record deleted successfully.")
                }
            });
        };
    };
</script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
                $(function () {
                    alert("@TempData["Message"]")
                });
    </script>
}

