
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@using (@Html.BeginForm("DashboardSearch", "Admin", FormMethod.Get))
{@Html.AntiForgeryToken()

<div class="card">
    <div class="card-header">
        <h4><span class="toggle-collapse" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter"></span> Filter</h4>
    </div>
    <div class="card-body collapse" id="filter">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" id="StartDate" name="StartDate" class="form-control" value="@Request["StartDate"]">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" id="EndDate" name="EndDate" class="form-control" value="@Request["EndDate"]">

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>CSP Code</label>
                    <input type="text" id="CSPCode" name="CSPCode" class="form-control" value="@Request["CSPCode"]">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Country</label>
                    @Html.DropDownList("Country", null,"", htmlAttributes: new { @class = "form-control", @onchange = "return bindState();" })

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>State</label>
                    @Html.DropDownList("State", Enumerable.Empty<SelectListItem>(),  htmlAttributes: new { @class = "form-control", @onchange = "return bindCity();" })

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>City</label>
                    @Html.DropDownList("City", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control" })

                </div>
            </div>

            <div class="col-md-3 mt-md-4 pt-1">
                @*<button class="btn btn-dark px-4 mr-2">Cancel</button>*@
                <button type="submit" class="btn btn-primary px-4">Search</button>
            </div>

        </div>
    </div>
</div>
}
<section class="section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2 mb-3">
                <div class="card-icon bg-light-primary text-primary">
                    <i class="mdi mdi-cash-refund"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Withdrawal Request</h4>
                    </div>
                    <div class="card-body">
                        <div class=" mt-3">
                            <h6 class="mr-2">Open - <span>@ViewBag.WithdrawOpenCount</span> </h6>
                            @*  <h6> In-Progress - <span>@ViewBag.WithdrawInProgressCount</span></h6> *@
                            <h6> Closed - <span>@ViewBag.WithdrawCompletedCount</span></h6>
                        </div>
                        @*<p><a href="#" class="small">Download Detailed Statement</a></p>*@
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2 mb-3">
                <div class="card-icon bg-light-danger text-danger">
                    <i class="mdi mdi-cash-multiple"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Deposit Request</h4>
                    </div>
                    <div class="card-body">
                        <div class=" mt-3">
                            <h6 class="mr-2">Open - <span>@ViewBag.DepositOpenCount</span> </h6>
                            @*   <h6> In-Progress - <span>@ViewBag.DepositInProgressCount</span></h6>*@
                            <h6> Closed - <span>@ViewBag.DepositCompletedCount</span></h6>
                        </div>
                        @*<p><a href="#" class="small">Download Detailed Statement</a></p>*@
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2 mb-3">
                <div class="card-icon bg-light-warning text-warning">
                    <i class="mdi mdi-headset"></i>
                </div>
                <div class="card-wrap">
                    <div class="card-header">
                        <h4>Support Request</h4>
                    </div>
                    <div class="card-body">
                        <div class=" mt-3">
                            <h6 class="mr-2">Open - <span>@ViewBag.TechOpenCount</span> </h6>
                            <h6> In-Progress - <span>@ViewBag.TechInProgressCount</span></h6>
                            <h6> Closed - <span>@ViewBag.TechCompletedCount</span></h6>
                        </div>
                        @*<p><a href="#" class="small">Download Detailed Statement</a></p>*@
                    </div>
                </div>

            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4>
                        CSP Count
                    </h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="myChart" width="400" height="185"></canvas>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 revenue-stats border-0 ">
            <div class="card">
                <div class="card-header">
                    <h4>
                        User Count
                    </h4>
                </div>
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <div class="bullet-icon"><i class="mdi mdi-circle text-info"></i></div>
                        <div class="des">
                            <h4>Total Active HO User</h4>
                            <p><sup><i></i></sup>@ViewBag.UserActiveCount</p>
                        </div>

                    </li>
                    @*<li class="d-flex">
                            <div class="bullet-icon"><i class="mdi mdi-circle text-primary"></i></div>
                            <div class="des">
                                <h4>Total Inactive User</h4>
                                <p><sup><i></i></sup> @ViewBag.UserInActiveCount</p>
                            </div>

                        </li>
                        <li class="d-flex">
                            <div class="bullet-icon"><i class="mdi mdi-circle text-warning"></i></div>
                            <div class="des">
                                <h4>Total Blocked User</h4>
                                <p><sup><i></i></sup> @ViewBag.UserBlockedCount</p>
                            </div>

                        </li>*@
                </ul>
            </div>

        </div>
    </div>




</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
<script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Active', 'InActive', 'Blocked'],
                datasets: [{
                    label: '# CSP Counts',
                    data: [@ViewBag.CSPActiveCount, @ViewBag.CSPInActiveCount, @ViewBag.CSPBlockedCount],
                    barPercentage: 0.5,
                    barThickness: 50,
                    maxBarThickness: 60,
                    minBarLength: 2,
                    backgroundColor: [
                        '#3cb330',
                        '#0e3c2d',
                        '#f68d0c',

                    ],


                }]
            },
            options: {
                scales: {
                    /* yAxes: [{
                         ticks: {
                             beginAtZero: true
                         }
                     }]*/

                }
            }
        });
</script>
<script>
   
            function bindState() {
            var sid = $("#Country").val();
        $("#City").empty();

        $.ajax({
            url: '@Url.Action("BindStates", "CSP")',
            data: { country_id: sid },
            type: 'GET',
            success: function (data)
            {
                var v = "<option></option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#State").html(v);
            }
        });
    }
            function bindCity() {
        var sid = $("#State").val();
        $("#City").empty();

        $.ajax({
            url: '@Url.Action("BindCity", "CSP")',
            data: { state_id: sid },
            type: 'GET',
            success: function (data)
            {
                var v = "<option></option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#City").html(v);
            }
        });
    }
</script>

