@model IEnumerable<eConnect.Model.TransactionCommissionModel>

@{
    ViewBag.Title = "Un Published Records";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="section">
    @using (@Html.BeginForm("ViewUnPublishedRecords", "Admin", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p>
           @Html.ActionLink("Create New", "CreateTransactionType", "SAdmin", new { }, new { target = "_blank" })
           @*@Html.ActionLink("Create New", "CreateTransactionType", "SAdmin", new { @class = "btn btn-primary px-4" , target = "_blank" })*@
        </p>
        <div class="card">
            <div class="card-body">
                <h6 class="text-primary mb-3"> UnPublished Records</h6>
                <div class="table-responsive">
                    <div class="table-actions">
                        @*<a href="#" data-toggle="tooltip" title="Download Excel"><i class="mdi mdi-file-excel mdi-24px"></i></a>*@
                    </div>
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th>SNo</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Circle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CircleName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BCBF_Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CSPCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CSPName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TransactionType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoOfTransactions)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commission)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int count = 1; }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>  @count</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Circle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CircleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BCBF_Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CSPCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CSPName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfTransactions)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commission)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit | ", "EditCommissionRecord", new { id = @item.UploaderId }, null)
                                        <a class="details" href="javascript:;" onclick="DeleteUnRecord(@item.TransactionCommissionId,@item.UploaderId)">Delete</a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
</section>
<div>
    @Html.ActionLink("Cancel", "Uploader")

</div>
<script type="text/javascript">
       function DeleteUnRecord(transid, uploaderId) {
        if (confirm('Are you sure to delete this record ?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteRecord", "Admin")',
                data: { transid: transid, uploaderid: uploaderId },
                dataType: 'html',
                success: function (data) {
                    location.reload();
                    alert("Record deleted successfully.")
                }
            });
        };
    };
</script>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
                $(function () {
                    alert("@TempData["Message"]")
                });
    </script>
}
